
/*
 For print invoice
 can add and format any id or class for printing
 */

@media print {

    #invoiceBack{
        display : none;
    }

    #print{
        display : none;
    }

    #exportPDF{
        display : none;
    }

    #header{
        display : none;
    }
}